@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i&display=swap');
@import "normalize";
@import "bourbon";
@import "lib/index";

/**
 * Global Styling
 * @section Global Styles
 * @page index
 */
html {
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
}

figure {
    margin: 0;
    padding: 0;
}

/**
 * Base font size: #{$font-size-base}<br />
 * Base font face: #{$base-font}
 * @section Body Styles
 * @sectionof Global Styles
 * @page index
 * @color {#{$background-color}} Background color - Global Styles.Body Styles
 * @color {#{$text-color}} Text/Foreground color - Global Styles.Body Styles
 */
body {
    font: $font-size-normal $base-font;
    line-height: 1.5;
    font-weight: 300;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

/**
 * Hyperlink colors and styles
 * @section Hyperlink Styles
 * @sectionof Global Styles
 * @page index
 * @color {#{tint($color-base-0, 25%)}} Normal link state - Global Styles.Hyperlink Styles
 * @color {#{shade($color-base-0, 75%)}} Visited link state - Global Styles.Hyperlink Styles
 * @color {#{tint($color-base-1, 75%)}} Hover link state - Global Styles.Hyperlink Styles
 * @color {#{tint($color-base-1, 75%)}} Active link state - Global Styles.Hyperlink Styles
 */
a {
    &:link {
        color: tint($color-base-0, 25%);
        text-decoration: none;
    }

    &:visited {
        color: shade($color-base-0, 75%);
    }

    &:hover {
        color: tint($color-base-1, 75%);
        text-decoration: underline;
    }

    &:active {
        color: tint($color-base-1, 75%);
    }
}

/**
 * Heading styles
 *
 * All HTML headings, `<h1>` through `<h6>`, are available. `.h1` through `.h6` classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.
 * @color {#{$color-base-0}} Header color — Heading Styles
 * @section Heading Styles
 * @page index
 * @example
 * <h1>h1. heading</h1>
 * <hr>
 * <h2>h2. heading</h2>
 * <hr>
 * <h3>h3. heading</h3>
 * <hr>
 * <h4>h4. heading</h4>
 * <hr>
 * <h5>h5. heading</h5>
 * <hr>
 * <h6>h6. heading</h6>
 *
 * @code
 * <h1>h1. heading</h1>
 * <h2>h2. heading</h2>
 * <h3>h3. heading</h3>
 * <h4>h4. heading</h4>
 * <h5>h5. heading</h5>
 * <h6>h6. heading</h6>
 */
h, .h {
    &1, &2, &3, &4, &5, &6 {
        font-family: $header-font;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        color: $color-base-0;
        margin: 0 0 0.5em;
    }

    &1 {
        font-size: $font-size-xxl;
    }

    &2 {
        font-size: $font-size-xl;
    }

    &3 {
        font-size: $font-size-l;
    }

    &4 {
        font-size: $font-size-normal;
    }

    &5 {
        font-size: $font-size-sm;
    }

    &6 {
        font-size: $font-size-xs;
    }

    &4, &5, &6 {
        letter-spacing: 0.025em;
        margin-bottom: 20px;
    }
}

strong {
    font-weight: bold;
}

cite, em {
    font-style: italic;
}

code, pre {
    font: $font-size-normal $code-font;
}

input {
    &[type=url],
    &[type=email],
    &[type=text] {
        border: 1px solid;
    }
}

textarea {
    border: 1px solid;
}

input[type=checkbox] {
    margin-right: 15px;
}